<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Social Network site">
    <meta name="keywords" content="Social, Network, Posts">
    <meta name="author" content="Your Name">
    <title>Social_Network</title>
    <link rel="stylesheet" href="path_to_your_styles.css">

</head>
<body>
    <header>
        <a href="/"><h1 style="text-align: center; padding: 20px;">Our Social Network</h1></a>
        <nav style="text-align: center;">
            <hr>
            
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>
    <hr>
    <footer style="text-align: center; padding: 20px;">
        <p>© 2025 Our Social Network.</p>
    </footer>
</body>
</html>
