{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SBN{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <a href="/" class="header-logo-link">
            <h1 class="typing-effect">SBN</h1>
        </a>
        <div class="header-actions">
            <a href="{% url 'chat:select_user' %}" title="Чат">
                <img src="{% static 'img/chat-icon.png' %}" alt="Чат">
            </a>

            <div class="divider"></div>

            {% if user.is_authenticated %}
                <a href="{% url 'user:profile' user.id %}" title="Профиль">
                    <img src="{% static 'img/profile-icon.png' %}" alt="Профиль">
                </a>

                <div class="divider"></div>

                <form action="{% url 'user:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" title="Выйти">
                        <img src="{% static 'img/cross-small.png' %}" alt="Выйти">
                    </button>
                </form>
            {% else %}
                <a href="{% url 'user:login' %}" title="Войти">
                    <img src="{% static 'img/profile-icon.png' %}" alt="Войти">
                </a>
            {% endif %}
        </div>
    </header>

    <nav>
        {% if user.is_authenticated %}
            <span class="greeting">Привет, {{ user.first_name }} {{ user.last_name }}!</span>
        {% else %}
            <a href="{% url 'user:login' %}"><button>Войти</button></a>
            <a href="{% url 'user:registr' %}"><button>Регистрация</button></a>
        {% endif %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 SBN</p>
    </footer>
</body>
</html>
